# Archivos binarios
balrog
balrog_debug
balrog_udev_debug
balrogd
balrogd_debug

# Objetos compilados
*.o
.depend

#
*.pid

# Archivos de backup y temporales
# archivos de respaldo de editores
*~
*.swp
*.swo
*.bak

# Archivos de log
*.log

# Archivos de compilación automáticos
Makefile.deps

# Archivos específicos del entorno
.DS_Store

#sonar
.scannerwork
balrog-sonar.properties

# build DEB
DEBIAN/
debian/*.log
debian/*.debhelper*
debian/*.substvars
debian/tmp/
debian/*-stamp
!debian/etc

# Notas
notes/

# test scripts
scripts/prueba
