[Unit]
Description=Balrog USB Daemon
After=network.target

[Service]
Type=forking
PIDFIle=/var/run/balrog/balrog.pid
ExecStart=/usr/bin/balrog
User=balrogd
Group=balrogd
Restart=always

[Install]
WantedBy=multi-user.target
