[Unit]
Description=Balrog Daemon
After=graphical.target

[Service]
Type=forking
#PIDFile=/run/balrogd/balrogd.pid
GuessMainPID=yes
ExecStart=/usr/bin/balrogd
ExecStop=/bin/kill -s SIGINT $MAINPID
StandardOutput=journal
StandardError=journal
SyslogIdentifier=balrogd
SyslogFacility=daemon
User=balrogd
Group=balrogd
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
