[Unit]
Description=Balrog USB Daemon
After=graphical.target

[Service]
Type=forking
PIDFile=/var/run/balrog/balrog.pid
ExecStart=/usr/bin/balrog
ExecStop=/bin/kill -s SIGINT $MAINPID
StandardOutput=journal
StandardError=journal
SyslogIdentifier=balrog
SyslogFacility=daemon
User=balrogd
Group=balrogd
Restart=on-failure
RestartSec=2
# Variables de entorno para acceder al bus de sesión
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=%t
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

[Install]
WantedBy=multi-user.target
